.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modification-container {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: large;
    width: 2rem;
    height: 2rem;
}

.reset {
    font-size: medium;
    padding: 0.5rem 1rem;
}